body {
  background-color: #121214;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  color: #fff;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202024;
  height: auto;
  width: 400px;
  padding: 40px 30px;
  border-radius: 5px;

  animation: transitionIn 3s;

}

.login h1 {
  padding-bottom: 30px;
}

.login form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login input {
  margin-top: 10px;
  background: #121214;
  color: #fff;
  border: none;
  height: 50px;
  outline: none;
  border-radius: 5px;
  border: 1px solid transparent;
  font-size: 16px;
  padding: 0px 1em 0px 2.65em;

  transition: 0.4s;
}

.login input:focus {
  border-color: #8257e6;
}

.login button {
  font-family: 'Poppins', sans-serif;
  background: #8257e6;
  border-radius: 5px;
  border: 0px;
  font-weight: bold;
  color: #fff;
  height: 50px;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 16px;
  transition: all 0.3s ease;

  cursor: pointer;
}

.login button:hover {
  filter: brightness(130%);
}

.cadastrar {
  font-size: 14px;
}

.cadastrar a {
  font-weight: 600;
  color: #8257E6;
  opacity: 0.8;
  transition: opacity 0.1s ease 0s;
}

.cadastrar a:hover {
  opacity: 1;
}

.forgot-title {
  margin-bottom: -15px;
}

.forgot {
  margin-bottom: 10px;
}

.forgot-container {
  background: transparent;
}

#return {
  margin-top: 20px;
  margin-bottom: -15px;
}

@keyframes transitionIn {
  from {
    transform: 400px
  }

  to {
    transform: 800px
  }
}

/* #8257E6 #121214 #04D361 */
